* {
    box-sizing: border-box;
}

#body{
    background-color: grey;
}

.h1{
    background-color:pink;
    color: white;
}

.p1{
    color:yellow;
}

.p2 {
    color:greenyellow;
}

.p3 { 
    color:aquamarine;
}

.border1{
    border: 5px solid orange;
    background-color: white;
    height: 100px;
    
}

p{
    color: white;
}

